<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="attendance_file">Attendance File (CSV/Excel):</label>
    <input type="file" name="attendance_file" accept=".csv, .xls, .xlsx" required><br><br>
    
    <label for="email_file">Email File (CSV/Excel):</label>
    <input type="file" name="email_file" accept=".csv, .xls, .xlsx" required><br><br>
    
    <button type="submit">Upload and Send Emails</button>
</form>


EMAIL_ADDRESS = "hvpubg8055@gmail.com"
EMAIL_PASSWORD = "wzhv pksg hepf sizt"